<div class="row">
    <div class="col-12 mb-5">
        <button class=" btn btn-primary" routerLink="ajouter"> Ajouter un étudiant</button>
    </div>
</div>
<div class="row">
    <div class="col-3 mb-5">
        <input class="form-control" [(ngModel)]="motCle">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Age</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etudiant of (etudiants | async | filtre : motCle)"
                    (dbclick)="afficher('modifier', etudiant.id)">
                    <td>{{etudiant.nom}}</td>
                    <td>{{etudiant.prenom ? (etudiant.prenom.prenom1): null}} {{etudiant?.prenom?.prenom2}}</td>
                    <td>{{etudiant.age}}</td>
                    <td>
                        <fa-icon (click)="supprimer(etudiant.id)" [ngStyle]="{'margin-right': '15px'}" [icon]="iconSuppr"></fa-icon>
                        <fa-icon (click)="modifier(etudiant.id)" [icon]="iconModifier"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>