<div id="container">
    <div class="row">


        <div class="col-4"></div>
        <div class="col-4">
            <form>
                <h1>Inscription</h1>

                <div class="form-group">
                    <label for="inputUserName">Nom d'utilisateur</label>
                    <input type="text" class="form-control" name="inputUserName" aria-describedby="inputUserNameAide">
                    <small id="inputUserNameAide" class="form-text text-muted">Taper ici pour modifier votre nom
                        d'utilisateur.</small>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" class="form-control" name="inputPassword"
                        aria-describedby="inputPasswordAide">
                    <small id="inputPasswordAide" class="form-text text-muted">Taper ici pour modifier votre mot de
                        passe.</small>
                </div>

                <div class="form-group">
                    <label for="inputPasswordConfirm">Valider votre Mot de passe</label>
                    <input type="password" class="form-control" name="inputPasswordConfirm">
                </div>

                <button type="submit" class="btn btn-primary">S'enregistrer</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>