<div id="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Connexion</h1>
            <form (ngSubmit)="connexion()" [formGroup]="connexionFormulaire">

                <div class="form-group">
                    <label for="inputUserName">Nom d'utilisateur</label>
                    <input type="text" class="form-control" name="inputUserName" class="form-control"
                        [class.is-valid]="username.touched && !username.errors"
                        [class.is-invalid]="username.touched && username.errors" name="inputUserName"
                        formControlName="username">
                    <div *ngIf="username.invalid && username.touched">
                        <p class="text-danger" *ngIf="username.errors?.required">
                            Le nom d'utilisateur est obligatoire !!
                        </p>
                        <p class="text-danger" *ngIf="username.errors?.minlength">
                            Il faut au moins trois caracteres pour le username
                        </p>
                        <p class="text-danger" *ngIf="username.errors?.maxlength">
                            Il faut au plus 10 caracteres pour le username
                        </p>
                        <p class="text-danger" *ngIf="username.errors?.pattern">
                            Les caracteres acceptés sont uniquement des lettres majuscules et miniscules.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" class="form-control" name="inputPassword"
                        [class.is-valid]="password.touched && !password.errors"
                        [class.is-invalid]="password.touched && password.errors" formControlName="password">
                    <div *ngIf="password.invalid && password.touched">
                        <p class="text-danger" *ngIf="password.errors?.required">
                            Le mot de passe est obligatoire !!!
                        </p>
                        <div class="text-danger" *ngIf="password.errors?.pattern">
                            Le mot doit être d'une longueur de 8 caracteres et contenir
                            <ul>
                                <li>une lettre majuscule</li>
                                <li>une lettre majuscule</li>
                                <li>un chiffre</li>
                                <li>un caracteres spécial</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">S'authentifier</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>