<div id="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div *ngIf="afficheMessage">
                {{afficheMessage}}
            </div>
            <h5>Changement de mot de passe</h5>
            <form (ngSubmit)="changer()" [formGroup]="changementFormulaire">

                <div class="form-group">
                    <label for="inputemail">Votre email</label>
                    <input type="text" class="form-control" name="inputemail" class="form-control"
                        [class.is-valid]="email.touched && !email.errors"
                        [class.is-invalid]="email.touched && email.errors" name="inputemail" formControlName="email">
                    <div *ngIf="email.invalid && email.touched">
                        <p class="text-danger" *ngIf="email.errors?.required">
                            L'email est obligatoire !!
                        </p>
                        <p class="text-danger" *ngIf="email.errors?.email">
                            format d'email incorrecte
                        </p>
                    </div>
                </div>

                <button [disabled]="changementFormulaire.invalid" type="submit"
                    class="btn btn-primary">Modifier</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>