<header class="mb-5" *ngIf="(header | async) as headerData">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">{{headerData.titre}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let element of headerData.menuGauche" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="element.url">{{element.nom}} </a>
                </li>
            </ul>

            <ul *ngIf="!estConnecte()" class="navbar-nav mt-2 mt-md-0">
                <li *ngFor="let element of headerData.menuDroite" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="element.url">{{element.nom}}</a>
                </li>
            </ul>
            <ul *ngIf="estConnecte()" class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" (click)="deconnecter()">Déconnection</a>
                </li>
            </ul>
        </div>
    </nav>
</header>