
<div id="container">
    <div class="row">
        <div class="col-12">
            <h4 i18n="modification etudiant|modification etudiant@@modification etudiant">Modifier les informations de l'étudiant</h4>
        </div>
    </div>
    <form  *ngIf=" (etudiant$ |async) as et" [formGroup]="modificationFormulaire" (ngSubmit)="modifierEtudiant()">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="inputNom" i18n="name etudiant|name etudiant@@name etudiant">Nom</label>
                    <input type="text" tabindex=0 formControlName="nom" class="form-control" id="inputNom">
                </div>
                <div class="form-group">
                    <label for="inputAge" i18n="age etudiant|age etudiant|@@age etudiant">Age</label>
                    <input type="text" tabindex=1 formControlName="age" class="form-control" id="inputAge">
                </div>

                <div class="form-group">
                    <label for="inputDateNaissance" i18n="Date naissance etudiant|Date naissance etudiant@@Date naissance etudiant">Date de naissance</label>
                    <input type="date" tabindex=2 formControlName="dateNaissance" class="form-control"
                        id="inputDateNaissance">
                </div>
                <div class="form-group">
                    <label for="inputNote"  i18n="note etudiant|note etudiant@@note etudiant">Note</label>
                    <div class="input-group">
                        <input type="number" tabindex=3 formControlName="note" class="form-control" id="inputNote">
                        <div class="input-group-append">
                            <span class="input-group-text">/ 20</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div [formGroup]="prenom">
                    <div class="form-group">
                        <label for="inputPrenom1"  i18n="prenom 1 etudiant|prenom 1 etudiant@@prenom 1 etudiant">Prenom1</label>
                        <input type="text" tabindex=0 formControlName="prenom1" class="form-control" id="inputPrenom1">
                    </div>

                    <div class="form-group">
                        <label for="inputPrenom2" i18n="prenom 2 etudiant|prenom 2 etudiant@@prenom 2 etudiant">Prenom2</label>
                        <input type="text" tabindex=1 formControlName="prenom2" class="form-control" id="inputPrenom2">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFraisSubs" i18n="frais de subsistance etudiant|frais de subsistance etudiant@@frais de subsistance etudiant">Frais de subsistance</label>
                    <div class="input-group">
                        <input type="text" tabindex=2 formControlName="fraisSubsistance" class="form-control"
                            id="inputFraisSubs">
                        <div class="input-group-append">
                            <span class="input-group-text">FCFA</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-12">
                <button type="button" tabindex=4 (click)="reinit()"
                    class="btn btn-info btn-lg mr-3" i18n="bouton réinitialiser|bouton réinitialiser@@bouton réinitialiser">Réinitialiser</button>
                <button type="submit" tabindex=5 class="btn btn-primary btn-lg" i18n="bouton modifier|bouton modifier@@bouton modifier">Modifier</button>
            </div>
        </div>
    </form>

</div>