<div id="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div *ngIf="erreurConnexion" class="alert alert-danger alert-dismissible fade show"
                role="alert">

                <strong>{{erreurConnexion.message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h1>Connexion</h1>
            <form (ngSubmit)="connexion()" [formGroup]="connexionFormulaire">

                <div class="form-group">
                    <label for="inputemail">Votre email</label>
                    <input type="text" class="form-control" name="inputemail" class="form-control"
                        [class.is-valid]="email.touched && !email.errors"
                        [class.is-invalid]="email.touched && email.errors" name="inputemail"
                        formControlName="email">
                    <div *ngIf="email.invalid && email.touched">
                        <p class="text-danger" *ngIf="email.errors?.required">
                            L'email est obligatoire !!
                        </p>
                        <p class="text-danger" *ngIf="email.errors?.email">
                            format d'email incorrecte
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" class="form-control" name="inputPassword"
                        [class.is-valid]="password.touched && !password.errors"
                        [class.is-invalid]="password.touched && password.errors" formControlName="password">
                    <div *ngIf="password.invalid && password.touched">
                        <p class="text-danger" *ngIf="password.errors?.required">
                            Le mot de passe est obligatoire !!!
                        </p>
                        <div class="text-danger" *ngIf="password.errors?.pattern">
                            Le mot doit être d'une longueur de 8 caracteres et contenir
                            <ul>
                                <li>une lettre majuscule</li>
                                <li>une lettre majuscule</li>
                                <li>un chiffre</li>
                                <li>un caracteres spécial</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">S'authentifier</button>
                <br>
                <a routerLink="/users/changerMDP">Changer Mot de passe</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>